<template>
	<div class="home">
		<v-btn @click="spotifyLogin">Login to Spotify</v-btn>
	</div>
</template>

<script>
// @ is an alias to /src


import {SPOTIFY_PARAMS, SPOTIFY_URLS} from "@/util/constants";

export default {
	name: 'Home',
	components: {},

	methods: {
		spotifyLogin() {
			let url = SPOTIFY_URLS.authorize;
			url += "?client_id=" + SPOTIFY_PARAMS.clientId;
			url += "&response_type=code";
			url += "&redirect_uri=" + encodeURI("http://localhost:4000/index");
			url += "&show_dialog=true";
			url += "&scope=user-read-private user-read-email user-library-read playlist-modify-public playlist-modify-private";
			window.location.href = url;
		}
	}
}
</script>
