<template>
	<div>
		<v-btn @click="createEssentialTracksPlaylist">Create Essential playlist</v-btn>
	</div>
</template>

<script>
import store from "@/store";
import {httpGet} from "@/services/http";
import {processEssentialPlaylist} from "@/util/app-paths";
import {SPOTIFY_PARAMS} from "@/util/constants";
import axios from "axios";

export default {

	created() {
		this.handleCodeFromRedirect();
	},

	methods: {

		handleCodeFromRedirect() {
			let code = null;
			let queryString = window.location.search;
			if (queryString.length > 0) {
				let urlParams = new URLSearchParams(queryString);
				code = urlParams.get('code');
			}

			store.commit('changeAuthCode', code);

		},

		createEssentialTracksPlaylist() {
			return httpGet(processEssentialPlaylist(), {
				params: this.getFilterParams()
			})
				.then(response => {
					if (response.data) {
						this.objectStorage = response.data;
					}
				})
				.catch(error => (this.error = error.response.data));
		},

		getFilterParams() {
			let dateTo = new Date();
			console.log(dateTo);
			let dateFrom = new Date(dateTo.setDate(dateTo.getDate() - 14));
			console.log(dateFrom);

			let params = {dateFrom: dateFrom, dateTo: new Date(), code: store.getters.authCode};

			let searchParams = new URLSearchParams();

			searchParams.append('filter', JSON.stringify(params));

			return searchParams;
		}
	}


}
</script>